.game{
    border: 0;
    table-layout: fixed;
    width: 10px;
    border-spacing: 0px;
    border-collapse: separate;
}

.game th, .game td {
    border: 0;
    width: 10px;
    height: 10px;
}

.game td {
    padding: 0px;
}

.game td:hover {
    opacity: 0.8;
}

.patterns {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.Board {
    display: flex;
    justify-content: center;
}

.App {
    flex-direction: column;
    display: flex;
    justify-items: center;
}